{% extends "exercises/base.html" %}

{% block nav %}
{% include "exercises/nav_with_homepage.html" %}
{% endblock %}

{% block content %}
<h1 class="top">Répondez aux questions posées :</h1>
<h1 class="discipline">{{discipline}} </h1>
<div class="exercise">
<ol class="exercise_form">
<form  method="post">
{% csrf_token %}

    {% for exo in truth %}

        {% if forloop.first %}<h2>Ex. {{exo.0.exo_number}}&nbsp;&nbsp;&nbsp;&nbsp;{{exo.0.title}}</h2>{% endif %}
        <li>
        {% if exo.0.file %}    {# the question is meant to be an multimedia question #}
            <p>
            {% with exo.0.file.name|cut:"static/" as filename %}
            {% load staticfiles %}
            {% if exo.0.file_extension == 'audio' %}
            <audio controls>
            <source src="{% static filename %}" type="audio/mpeg">
            <embed height="50" width="100" src="{% static filename %}">
            </audio>
            {% elif exo.0.file_extension == 'image' %}
            <br>
            <img src="{% static filename %}">
            {% elif exo.0.file_extension == 'pdf' %}
            <br>
            <embed src="{% static filename %}" width=800px height=800px>
            {% endif %}
            {% endwith %}
            </p>
        {% endif %}


        <label for="{{exo.0.question|linebreaksbr}}">
        {% if exo.0.question_as_list|length > 1 %} {# the question is meant to be a checkbox #}
        {{ exo.0.question_as_list.0|safe|linebreaksbr}}{% else %}{{ exo.0.question|safe|linebreaksbr }}{% endif %}</label>

        {% if not new %}<p>  {# what it looks when the user has filled it with his answer #}

            {% if exo.1 %}<strong>{{ exo.0.answer_to_formatedanswer }}</strong><span style="color: green"> &#10004;</span>  {# answer display formated due to checkbox particularity #}
            {% else %}
                {% if exo.0.question_as_list|length > 1 %} {# the question is meant to be a checkbox #}
                    {% for ask in exo.0.question_as_list %}
                        {% if forloop.first %}
                        {% else %} <p><input type="checkbox" name="user_answer_text{{forloop.parentloop.counter}}" value="{{ ask }};" />{{ ask }}</p>
                                   <input type="hidden" name="user_answer_id{{forloop.parentloop.counter}}" value="{{exo.0.id}}" />
                        {% endif %}
                        {% endfor %}<p><span style="color: red">&#10008;</span> ré-essayer de nouveau</p>

                {% else %}
                      <input type="text" name="user_answer_text{{forloop.counter}}" value="" />
                      <input type="hidden" name="user_answer_id{{forloop.counter}}" value="{{exo.0.id}}" /><p><span style="color: red">&#10008;</span> ré-essayer de nouveau</p>
                {% endif %}
            {% endif %}</p>


        {% else %}            {# First time for the user to fill in this exercise #}
            {% if exo.0.question_as_list|length > 1 %} {# the question is meant to be a checkbox #}
                {% for ask in exo.0.question_as_list %}
                    {% if forloop.first %}
                    {% else %} <p><input type="checkbox" name="user_answer_text{{forloop.parentloop.counter}}" value="{{ ask }};" />{{ ask }}</p>
                               <input type="hidden" name="user_answer_id{{forloop.parentloop.counter}}" value="{{exo.0.id}}" />
                    {% endif %}
                {% endfor %}
            {% else %}
                <p><input type="text" name="user_answer_text{{forloop.counter}}" value="" /></p>
                <input type="hidden" name="user_answer_id{{forloop.counter}}" value="{{exo.0.id}}" />
            {% endif %}
        {% endif %}
        </li>

    {% endfor %}
    </ol>
    <p>Résultat actuel = {% if not new %}<span class="score_{{score}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{% else %}(Exercice pas encore effectué){% endif %}</p>
{% if not perfect or new == True %}
<input type="submit" value="Soumettre" />
{% else %}
<a href="/exercises">Retour à Liste des Exercices</a>
{% endif %}
</form>
</div>

{% endblock %}

